div {
  width: 100%;
  height: 100vh;

  &.small {
    height: 35vh;

    & .row {
      height: 70vh;
      margin: 0;

      & .col {
        width: 100%;
        height: 70vh;
        padding: 0;

        &.desc {
          font-size: 20px;
          padding-right: 100px;

          &-tech {
            padding-right: 100px;

            img {
              width: 100%;
            }
          }
        }
      }
    }

  }

  &.project {
    gap: 230px;

    & img {
      width: 100%;
    }
  }

  &.mockup {
    gap: 200px;

  }

  &.box {
    width: 500px;
    height: 500px;

    &-small {
      margin-right: 30px;
      width: 150px;
      height: 150px;
    }
  }

  &.result {
    height: 100%;
    padding: 100px 0 100px 235px;

    & h3 {
      margin-bottom: 50px;
    }

    &-img {
      width: 90%;
      height: 70%;

      img {
        border-radius: 20px;
        width: 100%;
        object-fit: cover;
      }
    }
  }


}
