<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="project d-flex flex-row align-items-center justify-content-center">
    <span>
      <h3>Project Name</h3>
      <h5>Full stack Developer</h5>
      <p>1 weeks</p>
    </span>
    <div style="background-color: antiquewhite; width: 500px; height: 500px;"></div>
  </div>

  <div class="small">
    <div class="row">
      <div class="col d-flex flex-row align-items-center justify-content-center">
        Project Description
      </div>
      <div class="col desc d-flex flex-row align-items-center justify-content-center">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed sapiente doloremque voluptate. Perspiciatis cum
        incidunt corporis recusandae harum perferendis ducimus quod voluptates placeat, aliquid nihil cupiditate fugit
        non illum atque.
      </div>
    </div>
  </div>

  <div class="mockup d-flex flex-row align-items-center justify-content-center">
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <div class="small">
    <div class="row">
      <div class="col d-flex flex-row align-items-center justify-content-center">
        Project Technology
      </div>
      <div class="col desc d-flex flex-row align-items-center justify-content-center">
        <div class="box-small"></div>
        <div class="box-small"></div>
        <div class="box-small"></div>
      </div>
    </div>
  </div>

  <div class="result">
    <h2>Project Result</h2>
  </div>
</body>

</html>
