<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<nav class="d-flex align-items-center justify-content-between">
  <div>Ardi Azizi</div>
  <div class="d-flex flex-row justify-content-between" style="background-color: azure; width: 100px;">
    <div>Work</div>
    <div>About</div>
  </div>
</nav>

<body>
  <div class="div d-flex align-items-center justify-content-center" style="background-color: aliceblue;">
    <div>
      <h3>Front-end Developer - UI Designer</h3>
    </div>
  </div>

  <div class="div d-flex align-items-center">
    <div class="div-content d-flex flex-row">
      <div class="div-color"></div>
      <div class="div-cover"></div>
      <div class="div-text d-flex align-items-start justify-content-center flex-column gap-2">
        <h3>Apple Developer</h3>
        <h5>Front-end Developer</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi deserunt quia sed provident amet!</p>
        <button class="btn btn-primary">To Project</button>
      </div>
    </div>
  </div>

  <div style="width: 100%; height: 100vh;">
    <div class="div-content d-flex flex-row align-items-center">
      <div class="div-text-flip d-flex align-items-end justify-content-center flex-column gap-2">
        <h3>Windows Developer</h3>
        <h5>UI/UX Designer Developer</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi deserunt quia sed provident amet!</p>
        <button class="btn btn-primary">To Project</button>
      </div>
      <div class="div-cover-flip"></div>
      <div class="div-color"></div>
    </div>
  </div>

  <div style="background-color: aquamarine; width: 100%; height: 100vh;">
  </div>
</body>

</html>
