<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<app-navbar [textColor]=navTextColor></app-navbar>

<body>
  <div class="section div home-cover d-flex align-items-center justify-content-center">
    <h3>Front-end Developer</h3>
    <div class="overlay"></div>
    <img src="../../../assets/bg.jpg" alt="">
  </div>

  <div id="content" class="section div d-flex align-items-center">
    <div class="div-content d-flex flex-row">
      <div class="div-color-1"></div>
      <div class="div-cover-1 d-flex align-items-center justify-content-center">
        <img src="../../../assets/logo/levelup_logo.png" alt="">
      </div>
      <div class="div-text d-flex align-items-start justify-content-center flex-column gap-2">
        <h3>Telkom Digital Regional Internship</h3>
        <h5>Fullstack Developer</h5>
        <p>Create an application for data collection on packages that come to the office by designing both the frontend
          and database</p>
        <button class="btn btn-primary" [routerLink]="['/project', 1]">To Project</button>
      </div>
    </div>
  </div>

  <div id="content" class="section div d-flex align-items-center">
    <div class="div-content d-flex flex-row justify-content-end">
      <div class="div-text-flip d-flex align-items-start justify-content-center flex-column gap-2">
        <h3>BCA IT Intern</h3>
        <h5>Frontend Developer</h5>
        <p>Help to develop the frontend component library used by the application development inside the company</p>
        <button class="btn btn-primary" [routerLink]="['/project', 2]">To Project</button>
      </div>
      <div class="div-cover-flip d-flex align-items-center justify-content-center">
        <p>
          <b>
            #ITBCA
          </b>
        </p>
      </div>
      <div class="div-color-2"></div>
    </div>
  </div>

  <div id="content" class="section div d-flex align-items-center">
    <div class="div-content d-flex flex-row">
      <div class="div-color-3"></div>
      <div class="div-cover-3 d-flex align-items-center justify-content-center">
        <img src="../../../assets/logo/upscale_logo.png" alt="">
      </div>
      <div class="div-text d-flex align-items-start justify-content-center flex-column gap-2">
        <h3>Programmer Intern</h3>
        <h5>Laravel Developer</h5>
        <p>Debugging and develop the outsourcing website owned by the company</p>
        <button class="btn btn-primary" [routerLink]="['/project', 3]">To Project</button>
      </div>
    </div>
  </div>

  <div class="section div-footer d-flex align-items-center">
    <div>
      <h1>Thank you for viewing my portfolio!</h1>
      <div class="d-flex flex-row gap-5">
        <div>
          <h3>Contact Me</h3>
          <a class="mail" href="mailto:aziziardi7@gmail.com">aziziardi7@gmail.com</a>
        </div>
        <div>
          <h3>Let's Connect</h3>
          <span class="connect">
            <a href="https://linkedin.com/in/lazuardi-muhammad-azizi-56971b234">LinkedIn </a>
            <a>|</a>
            <a href="https://docs.google.com/document/d/1iDsEPli5rWn5UDKiLmAdSU-FTdXV_pGtijdDzTUtNA0/edit?usp=sharing">
              Resume</a>
          </span>
        </div>
      </div>
      <div class="div-copyright">
        <h5>Copyright 2023</h5>
        <p>Ardi Azizi</p>
      </div>
    </div>
  </div>
</body>

</html>
