<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<nav class="d-flex align-items-center justify-content-between fs-5">
  <a href="">Ardi Azizi</a>
  <div class="link d-flex flex-row justify-content-between" style="width: 170px;">
    <a routerLink="/work">Work</a>
    <a routerLink="/about">About</a>
  </div>
</nav>

<body>
  <div class="div home-cover d-flex align-items-center justify-content-center" style="background-color: aliceblue;">
    <h3>Front-end Developer - UI Designer</h3>
    <div class="overlay"></div>
    <img src="../../../assets/bg.jpg" alt="">
  </div>

  <div class="div d-flex align-items-center">
    <div class="div-content d-flex flex-row">
      <div class="div-color-1"></div>
      <div class="div-cover-1 d-flex align-items-center justify-content-center">
        <img src="../../../assets/levelup_logo.png" alt="">
      </div>
      <div class="div-text d-flex align-items-start justify-content-center flex-column gap-2">
        <h3>Telkom Digital Regional Internship</h3>
        <h5>Fullstack Developer</h5>
        <p>Create an application for data collection on packages that come to the office by designing both the frontend
          and database</p>
        <button class="btn btn-primary">To Project</button>
      </div>
    </div>
  </div>

  <div class="div d-flex align-items-center">
    <div class="div-content d-flex flex-row justify-content-end">
      <div class="div-text-flip d-flex align-items-end justify-content-center flex-column gap-2">
        <h3>Windows Developer</h3>
        <h5>UI/UX Designer Developer</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi deserunt quia sed provident amet!</p>
        <button class="btn btn-primary">To Project</button>
      </div>
      <div class="div-cover-flip"></div>
      <div class="div-color"></div>
    </div>
  </div>

  <div class="div-footer d-flex align-items-center">
    <div>
      <h1>Thank you for viewing my portfolio!</h1>
      <div class="d-flex flex-row gap-5">
        <div>
          <h3>Contact Me</h3>
          <p>aziziardi7@gmail.com</p>
        </div>
        <div>
          <h3>Let's Connect</h3>
          <p>LinkedIn | Instagram | Resume</p>
        </div>
      </div>
      <div class="div-copyright">
        <h5>Copyright 2023</h5>
        <p>Ardi Azizi</p>
      </div>
    </div>
  </div>
</body>

</html>
