<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Work</title>
</head>

<app-navbar [textColor]=navTextColor></app-navbar>

<body>

  <div class="section div-1 d-flex flex-column align-items-center justify-content-center">
    <div class="div-content d-flex flex-row align-items-center justify-content-end">
      <div class="div-text-flip d-flex justify-content-center flex-column gap-2">
        <h3>Room Reservation Web Application</h3>
        <div>
          <h5>Role</h5>
          <p>Frontend Developer</p>
        </div>
        <div>
          <h5>Duration</h5>
          <p>1 Month (February 2023)</p>
        </div>
        <div>
          <h5>Tools</h5>
          <p>Angular</p>
        </div>
      </div>
      <div class="div-cover-flip d-flex justify-content-center">
        <img src="../../../assets/Mockup/booking-app.png" alt="">
      </div>
    </div>
    <button class="button-view btn btn-outline-light">To Project</button>
  </div>

  <div class="section div-2 d-flex flex-column align-items-center justify-content-center">
    <div class="div-content d-flex flex-row align-items-center justify-content-end">
      <div class="div-text-flip d-flex justify-content-center flex-column gap-2">
        <h3>Angular Frontend Library</h3>
        <div>
          <h5>Role</h5>
          <p>Frontend Developer</p>
        </div>
        <div>
          <h5>Duration</h5>
          <p>1 Month (February 2023)</p>
        </div>
        <div>
          <h5>Tools</h5>
          <p>Angular</p>
        </div>
      </div>
      <div class="div-cover-flip d-flex justify-content-center">
        <img src="../../../assets/Mockup/lib-front.png" alt="">
      </div>
    </div>
    <button class="button-view btn btn-outline-light">To Project</button>
  </div>

  <div class="section div-3 d-flex flex-column align-items-center justify-content-center">
    <div class="div-content d-flex flex-row align-items-center justify-content-end">
      <div class="div-text-flip d-flex justify-content-center flex-column gap-2">
        <h3>Outsourcing Web Application</h3>
        <div>
          <h5>Role</h5>
          <p>Laravel Developer</p>
        </div>
        <div>
          <h5>Duration</h5>
          <p>6 Month (March - August 2023)</p>
        </div>
        <div>
          <h5>Tools</h5>
          <p>PHP, Laravel, MySQL</p>
        </div>
      </div>
      <div class="div-cover-flip d-flex justify-content-center">
        <img src="../../../assets/Mockup/upscale-clone.png" alt="">
      </div>
    </div>
    <button class="button-view btn btn-outline-light">To Project</button>
  </div>

  <div id="other" class="section div-other d-flex flex-column">
    <h1>Other Projects</h1>
    <div class="row">

      <div class="col left">
        <div class="box d-flex align-items-center justify-content-center">
          <img src="../../../assets/paket-app/paket-1.png" alt="...">
          <div class="overlay d-flex align-items-center justify-content-center">Packet Tracker App</div>
        </div>
      </div>

      <div class="col right justify-content-between">
        <div class=" box-2">
          <img src="../../../assets/no-surat-app/no-surat-1.png" alt="...">
          <div class="overlay d-flex align-items-center justify-content-center">Sistem Nomor Surat App</div>
        </div>
        <div class="box-3">
          <img src="../../../assets/old-project/calcJS.png" alt="...">
          <div class="overlay d-flex align-items-center justify-content-center">Calculator JS</div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="box-4">
        <img src="../../../assets/old-project/todolistJS.png" alt="...">
        <div class="overlay d-flex align-items-center justify-content-center">To-do-list App</div>
      </div>
    </div>

    <div class="row">

      <div class="col left justify-content-between">
        <div class=" box-2">
          <img src="../../../assets/old-project/digiclockJS.png" alt="...">
          <div class="overlay d-flex align-items-center justify-content-center">Digi-Clock JS App</div>
        </div>
        <div class="box-3">
          <img src="../../../assets/old-project/porto1.png" alt="...">
          <div class="overlay d-flex align-items-center justify-content-center">Portfolio Web</div>
        </div>
      </div>

      <div class="col right">
        <div class="box d-flex align-items-center justify-content-center">
          <img src="../../../assets/old-project/crud.png" alt="...">
          <div class="overlay d-flex align-items-center justify-content-center">CRUD Example App</div>
        </div>
      </div>
    </div>

    <!-- <div class="row mb-5">
      <div class="box-4">
      </div>
    </div> -->
  </div>

  <div id="other" class="section mb-5"></div>

</body>

</html>
